*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Do NOT ignore Gradle Wrapper JAR
!gradle/wrapper/gradle-wrapper.jar
